
<div class="tm-address-box">
    <h4 class="tm-info-title tm-text-success">Our Address</h4>
    <address>
        180 Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus 10550
    </address>
    <a href="tel:080-090-0110" class="tm-contact-link">
        <i class="fas fa-phone tm-contact-icon"></i>080-090-0110
    </a>
    <a href="mailto:info@company.co" class="tm-contact-link">
        <i class="fas fa-envelope tm-contact-icon"></i>info@company.co
    </a>
    <div class="tm-contact-social">
        <a href="https://fb.com/templatemo" class="tm-social-link"><i class="fab fa-facebook tm-social-icon"></i></a>
        <a href="#" class="tm-social-link"><i class="fab fa-twitter tm-social-icon"></i></a>
        <a href="#" class="tm-social-link"><i class="fab fa-instagram tm-social-icon"></i></a>
    </div>
</div>
