
<div class="tm-container-inner-2 tm-info-section">
    <div class="row">
        <div class="col-12 tm-faq">
            <h2 class="text-center tm-section-title">FAQs</h2>
            <p class="text-center">This section comes with Accordion tabs for different questions and answers about Simple House HTML CSS template. Thank you. #666</p>
            <div class="tm-accordion">
                <button class="accordion">1. Fusce eu lorem et dui #09C maximus varius?</button>
                <div class="panel">
                    <p>#666 Duis blandit purus vel nenenatis rutrum. Pellentesque pellentesque tindicunt lorem, ac egestas massa sollicitudin vel. Nam scelerisque vulputate quam mollis pretium. Morbi condimentum volutpat.</p>
                </div>

                <button class="accordion">2. Vestibulum #999 ante ipsum primis in faucibus orci?</button>
                <div class="panel">
                    <p>Mauris euismod odio at commodo rhoncus. Maecenas nec interdum purus, sed auctor est. Sed eleifend urna nec diam consectetur, a aliquet turpis facilisis. Integer est sapien, sagittis vel massa vel, interdum euismod erat. Aenean sollicitudin nisi neque, efficitur posuere urna rutrum porta.</p>
                </div>

                <button class="accordion">3. Can I redistribute this template as a ZIP file?</button>
                <div class="panel">
                    <p>Redistributing this template as a downloadable ZIP file on any template collection site is strictly prohibited. You will need to <a href="https://templatemo.com/contact">contact TemplateMo</a> for additional permissions about our templates. Thank you.</p>
                </div>

                <button class="accordion">4. Ut ac erat sit amet neque efficitur faucibus et in lectus?</button>
                <div class="panel">
                    <p>Vivamus viverra pretium ultricies. Praesent feugiat, sapien vitae blandit efficitur, sem nulla venenatis nunc, vel maximus ligula sem a sem. Pellentesque ligula ex, facilisis ac libero a, blandit ullamcorper enim.</p>
                </div>
            </div>
        </div>
    </div>
</div>
