
<div class="tm-container-inner tm-persons">
    <div class="row">
        <article class="col-lg-6">
            <figure class="tm-person">
                <img src="~/Content/assets/img/about-01.jpg" alt="Image" class="img-fluid tm-person-img" />
                <figcaption class="tm-person-description">
                    <h4 class="tm-person-name">Jennifer Soft</h4>
                    <p class="tm-person-title">Founder and CEO</p>
                    <p class="tm-person-about">
                        Vivamus cursus leo nec sem feugiat sagittis.
                        Duis ut feugiat odio, sit amet accumsan
                        odio.
                    </p>
                    <div>
                        <a href="https://fb.com" class="tm-social-link"><i class="fab fa-facebook tm-social-icon"></i></a>
                        <a href="https://twitter.com" class="tm-social-link"><i class="fab fa-twitter tm-social-icon"></i></a>
                        <a href="https://instagram.com" class="tm-social-link"><i class="fab fa-instagram tm-social-icon"></i></a>
                    </div>
                </figcaption>
            </figure>
        </article>
        <article class="col-lg-6">
            <figure class="tm-person">
                <img src="~/Content/assets/img/about-02.jpg" alt="Image" class="img-fluid tm-person-img" />
                <figcaption class="tm-person-description">
                    <h4 class="tm-person-name">Daisy Walker</h4>
                    <p class="tm-person-title">Executive Chef</p>
                    <p class="tm-person-about">
                        Praesent non vulputate elit. Orci varius
                        natoque et magnis dis parturient, nascetur ridiculus mus.
                    </p>
                    <div>
                        <a href="https://fb.com" class="tm-social-link"><i class="fab fa-facebook tm-social-icon"></i></a>
                        <a href="https://twitter.com" class="tm-social-link"><i class="fab fa-twitter tm-social-icon"></i></a>
                    </div>
                </figcaption>
            </figure>
        </article>
        <article class="col-lg-6">
            <figure class="tm-person">
                <img src="~/Content/assets/img/about-03.jpg" alt="Image" class="img-fluid tm-person-img" />
                <figcaption class="tm-person-description">
                    <h4 class="tm-person-name">Florence Nelson</h4>
                    <p class="tm-person-title">Kitchen Manager</p>
                    <p class="tm-person-about">
                        Aenean sapien sem, ultricies sed vulputate
                        et, auctor vel mauris. Integer sit amet diam eget est facilisis lacinia vitae.
                    </p>
                    <div>
                        <a href="https://fb.com" class="tm-social-link"><i class="fab fa-facebook tm-social-icon"></i></a>
                        <a href="https://instagram.com" class="tm-social-link"><i class="fab fa-instagram tm-social-icon"></i></a>
                    </div>
                </figcaption>
            </figure>
        </article>
        <article class="col-lg-6">
            <figure class="tm-person">
                <img src="~/Content/assets/img/about-04.jpg" alt="Image" class="img-fluid tm-person-img" />
                <figcaption class="tm-person-description">
                    <h4 class="tm-person-name">Valentina Martin</h4>
                    <p class="tm-person-title">Culinary Director</p>
                    <p class="tm-person-about">
                        Praesent non vulputate elit. Orci varius
                        natoque penatibus et magnis montes, nascetur ridiculus mus.
                    </p>
                    <div>
                        <a href="https://fb.com" class="tm-social-link"><i class="fab fa-facebook tm-social-icon"></i></a>
                        <a href="https://twitter.com" class="tm-social-link"><i class="fab fa-twitter tm-social-icon"></i></a>
                        <a href="https://instagram.com" class="tm-social-link"><i class="fab fa-instagram tm-social-icon"></i></a>
                        <a href="https://youtube.com" class="tm-social-link"><i class="fab fa-youtube tm-social-icon"></i></a>
                    </div>
                </figcaption>
            </figure>
        </article>
    </div>
</div>
