
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="card content-card">
    <div class="card-header py-3 bg-dark text-light">
        <h5 class="m-0">Ana Sayfa</h5>
    </div>
    <div class="card-body text-center py-5">
        <p>Simple House Yönetim Paneli</p>
        <h1>HOŞGELDİNİZ</h1>
    </div>
    <div class="card-footer bg-dark text-light">
        <div class="text-end">
        </div>
    </div>
</div>

